body {
    background: white;
  }
  
  .text {
    position: absolute;
    left: 50%;
    top: 50%;
    color: seagreen;
    font-size: 500px;
    filter: url(#gooey);
  }
  .text::before, .text::after {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    filter: blur(9px);
  }
  .text::before {
    content: "G";
    animation-name: items-odd;
  }
  .text::after {
    content: "G";
    animation-name: items-even;
    animation-delay: 1.5s;
  }
  
  @keyframes items-odd {
    33.3333333333% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    83.3333333333% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
    0% {
      content: "G";
    }
    99.9999% {
      content: "G";
    }
  }
  @keyframes items-even {
    33.3333333333% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    83.3333333333% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
    0% {
      content: "G";
    }
    99.9999% {
      content: "G";
    }
  }