<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="refresh" content="url=https://google.com"/>
      <script src="https://kit.fontawesome.com/4a8747a82c.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
      <link href="static/mystyles.css" type="text/css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wordle</title>
  </head>
  <body>
      <div>
          <div class="text"></div>
          <svg>
          <filter id="gooey">
              <feGaussianBlur in="SourceGraphic" stdDeviation="9" result="blur"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 28 -8" result="gooey"></feColorMatrix>
              <feComposite in="SourceGraphic" in2="gooey" operator="atop"></feComposite>
          </filter>
          </svg>
      </div>
      {% block body %}{% endblock %}
      <div class="center">
          <a href="/" class="button" style="text-decoration: none; font-weight: normal;">Reset</a>
      </div>
      <div class="center help" onclick="MyFunction()">
         <i class="fa-regular fa-circle-question help"></i>
      </div>
      {% if get_flashed_messages() %}
              <header>
                  <div class="alert alert-danger">
                      <h3>{{ get_flashed_messages() | join(" ") }}</h3>
                    </div>
              </header>
      {% endif %}
      <script src="/static/auto.js"></script>
      {% if help != 1 %}
        <script>
            function MyFunction(){
                alert('Your word has a {{ajuda}} na posição {{pos}}');
            }
        </script>
      {% else %}
      <script>
        function MyFunction(){
            alert('Helps are only available on the second try');
        }
    </script>
    {% endif %}
  </body>
</html>