<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link href="static/mystyles.css" type="text/css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Wordle</title>
  </head>
  <body>
      <div>
          <div class="text"></div>
          <svg>
          <filter id="gooey">
              <feGaussianBlur in="SourceGraphic" stdDeviation="9" result="blur"></feGaussianBlur>
              <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 28 -8" result="gooey"></feColorMatrix>
              <feComposite in="SourceGraphic" in2="gooey" operator="atop"></feComposite>
          </filter>
          </svg>
      </div>
      {% block body %}{% endblock %}
      <div style="display: flex; justify-content: center;">
          <a href="/" class="button" style="text-decoration: none; font-weight: normal;">Reset</a>
      </div>
      {% if get_flashed_messages() %}
              <header>
                  <div class="alert alert-danger">
                      <h3>INVALID WORD</h3>
                    </div>
              </header>
      {% endif %}
      <script src="/static/auto.js"></script>
  </body>
</html>